@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kanit', sans-serif; 
}

body{
    min-height: 200vh;
}

header{
    background-color: rgba( 255, 255, 255, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
}


header .logo{
    height: 90px;
    position: relative; 
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.6s;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

header.sticky{
    padding: 5px 100px;
    background: none;
}

header.sticky .logo, header.sticky ul li a{
    color: #000;
}

/* Termina el css del menu */

/* Primera section */
.secpri{
    background-image: url(heroimg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(255, 0, 255, 0.5);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
}
.secpri h1{
    color: white;
    font-size: 70px;
    width: 40%;
    margin-top: 25vh;
    margin-left: 150px;
    margin-right: 10%;
}
.secpri p{
    color: white;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 150px;
    margin-right: 55%;
}
.secpri button{
    color: fuchsia;
    background-color: white;
    padding: 15px;
    margin-left: 150px;
    width: 20%;
    font-size: 15px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    margin-top: 2%;
}
.secpri button:hover{
    transition: .5s;
    background-color: #000000;
    color: white;
}
/* Termina Primera section */

/* Empieza Segunda section */
.div2{
    width: 100%;
    height: 100vh;
}

.contitems{
    display: flex;
    justify-content:space-evenly;
    margin-left: 140px;
}

.div2 h1{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    color:fuchsia;
}
.div2 img{
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(116, 21, 100, 0.6);
}

.div2 h2{
    color: fuchsia;
}

.contitems h2{
    font-weight: 600;
    font-size: 20px;
    padding-top: 15%;
    padding-bottom: 4%;
}
.contitems p{
    font-size: 15px;
    line-height: 30px;
    color: black;
}

.item1 p{
    margin-right: 40px;
}

.item2{
    margin-left: 60px;
}

.item2 h2{
    position: relative;
}
.item2 p{
    position: relative;
    margin-right: 60px;
}

.item3{
    margin-left: 120px;
}

.sub3{
    position: relative;
    bottom: 20px;
}

.sub3{
    margin-bottom: 20px;
}

.item3 p{
    position: relative;
    margin-right: 30px;
}
/* Termina Segunda section */

/* Empieza Tercera section */

.div3{
    height: 100vh;
    display: flex;
}

.about1{
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    float: left;
}

.about1 h1{
    font-size: 55px;
    color:#cf2bf0;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.about1 p{
    color:black;
    font-size: 22px;
    font-weight: 300;
    line-height: 160%;
    margin-bottom: 30px;
    margin-left: 150px;
}

.about2{     
    display: flex;
    justify-content: center;

}

.taza{
    scale: 0.8;
}