*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height: 200vh;
}

header{
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 100px;
}


header .logo{
    height: 90px;
    position: relative; 
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

header.sticky{
    padding: 5px 100px;
    background: none;
}

header.sticky .logo, header.sticky ul li a{
    color: #000;
}

/* Termina el css del menu */

/* Primera section */
.secpri{
    background-image: url(heroimg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(255, 0, 255, 0.5);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
}
.secpri h1{
    color: white;
    font-size: 70px;
    width: 40%;
    margin-top: 25vh;
    margin-left: 150px;
    margin-right: 10%;
}
.secpri p{
    color: white;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 150px;
    margin-right: 55%;
}
.secpri button{
    color: fuchsia;
    background-color: white;
    padding: 15px;
    margin-left: 150px;
    width: 20%;
    font-size: 15px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    margin-top: 3%;
}
.secpri button:hover{
    transition: .5s;
    background-color: #000000;
    color: white;
}
/* Termina Primera section */
